[submodule ".config/kak"]
	path = .config/kak
	url = git@github.com:JJK96/kakoune-config.git
[submodule "bin/spotify/spotifylyrics"]
	path = bin/spotify/spotifylyrics
	url = https://github.com/fr31/spotifylyrics
[submodule ".config/fish/plugin-foreign-env"]
	path = .config/fish/plugin-foreign-env
	url = git@github.com:oh-my-fish/plugin-foreign-env.git
[submodule ".cheats/arsenal-cheatsheets"]
	path = .cheats/arsenal-cheatsheets
	url = git@gitlab.local.northwave.nl:redteam/arsenal-cheatsheets.git
