[submodule ".config/kak"]
	path = .config/kak
	url = git@github.com:JJK96/kakoune-config.git
[submodule "bin/spotify/spotifylyrics"]
	path = bin/spotify/spotifylyrics
	url = https://github.com/fr31/spotifylyrics
