# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jan-Jaap Korpershoek
	email = jjkorpershoek96@gmail.com
[pull]
	rebase = false
[alias]
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
[merge]
	tool = kakmerge
[mergetool "kakmerge"]
	cmd = env LOCAL=\"${LOCAL}\" BASE=\"${BASE}\" REMOTE=\"${REMOTE}\" MERGED=\"${MERGED}\" mymergetool
[core]
	excludesfile = /home/jjk/dotfiles/global.gitignore
[difftool "idiff"]
	cmd = diff -i $LOCAL $REMOTE
