set editing-mode vi
set keymap vi

set keymap vi-insert

"\C-x\C-e": edit-and-execute-command

set keymap vi-command

"i": forward-char
"n": next-history
"e": previous-history
"K": vi-end-word
"k": vi-end-word
"L": vi-insert-beg
"l": vi-insertion-mode
"J": vi-search-again
"j": vi-search-again
