source /home/jjk/.profile
#xmodmap ~/.Xmodmap
#xcape -e "ISO_Level3_Shift=Escape"
setxkbmap -variant "colemak"
libinput-gestures-setup start
dunst &
lxpolkit &
xrandr --output eDP-1 --primary &
nm-applet &
picom & 
# redshift &
#termite -e weechat &
#firefox web.whatsapp.com gmail.com calendar.google.com drive.google.com https://riot.im/staging/ &
kak -s default -d
wal -R
xset s off
kdeconnect-indicator &
screenlayout
