libinput-gestures-setup start
dunst &
lxpolkit &
xrandr --output eDP-1 --primary &
nm-applet &
compton &
redshift &
termite -e weechat &
#rambox &
qutebrowser web.whatsapp.com gmail.com googleapps.utwente.nl https://discordapp.com/channels/@me &
kak -s default -d
wal -R
