/*
!dunst/
!i3/
!i3blocks/
!i3status/
!libinput-gestures.conf
!mimeapps.list
!mpv/
!pass/
!radare2/
!ranger/
!rofi/
!sway/
!termite/
!alacritty/
!vifm/
!vimb/
!vis/
!wal/
!.gitignore
!systemd
!composer
!qutebrowser
!pycodestyle
!Code\ -\ OSS
!krabby
!unipicker
!yay
!aerc
!pulse
!autorandr
!fish
!nnn
!flake8
!kak-lsp
!binwalk
